extends layout




block content
  div(ontouchstart="" class="container-action")
    .button-action
      a(href="/file/create") New Folder
       
          
  header
    .container2 
      .folder
        .folder-inside
        .folder-inside
      .folder
        .folder-inside
        .folder-inside
      .folder
        .folder-inside
        .folder-inside
    .container2
      .folder
        .folder-inside
    button.folder-btn
      a(href="/file/subfiles") Open



          


