  
 

extends layout 

block content
  form( method="post")
    label(for="payment") Payment:
    input(type="number", name="payment", required id="payment")
    button(type="submit", value="Submit") Make Payment
    button 
      a.gobackfile(href="/file/subfiles") Back to Files

  
  .file-title 
    p.title-text #{file.title}: PAYMENTS
    h1  Balance: $#{Number(file.totalAmount) - Number(file.payments.reduce((acc, payment) => acc + Number(payment.payment), 0)) <= 0 ? 'You are done with your payments' : Number(file.totalAmount) - Number(file.payments.reduce((acc, payment) => acc + Number(payment.payment), 0))}
  table
    thead
      tr
        th Date
        th Payment
    tbody
      each payment in file.payments
        tr
          td #{payment.date}
          td #{payment.payment}
  style.
    table {
      width: 50%;
      border-collapse: collapse;
      background-color: white;
      margin: 0 auto;
    }

    th, td {
      border: 1px solid #ddd;
      padding: 8px;
    }

    th {
      background-color: #f2f2f2;
      text-align: left;
    }

    form {
      margin: 0 auto;
      display: flex;
      justify content: center;
      gap: 10px;
      width: 50%;
    }

    div {
      margin-bottom: 10px;
    }

    label {
      display: inline-block;
      width: 100px;
    }

    input[type="text"] {
      width: 100%;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 5px;
    }

    button[type="submit"] {
      padding: 10px 20px;
      border: none;
      border-radius: 5px;
      background-color: #28a745;
      color: white;
    }
    .gobackfile {
     padding: 12px 10px;
      border: none;
      border-radius: 5px;
      
    }
      
    .file-title {
      display: flex;
      justify-content: space-between;
      width: 50%;
      margin: 5rem auto;
    }
    .title-text {
      font-size: 1.5rem;
      font-weight: bold;
      color: white;
      text-align: center;
    }
      @media (max-width: 1200px) {
        table, form, .file-title {
        width: 70%;
        }
      }

      @media (max-width: 992px) {
        table, form, .file-title {
        width: 80%;
        }
      }

      @media (max-width: 768px) {
        table, form, .file-title {
        width: 90%;
        }

        .title-text {
        font-size: 1.2rem;
        }
      }

      @media (max-width: 576px) {
        table, form, .file-title {
        width: 100%;
        }

        .title-text {
        font-size: 1rem;
        }

        th, td {
        padding: 5px;
        }

        button[type="submit"], .gobackfile {
        padding: 8px 10px;
        }
      }
    
