  
 

extends layout 

block content
  form( method="post")
    label(for="payment") Payment:
    input(type="number", name="payment", required id="payment")
    button(type="submit", value="Submit") Make Payment
    button 
      a.gobackfile(href="/file/subfiles") Back to Files

  div(style="text-align: right; font-weight: 700; color: white") Balance:  #{Number(file.totalAmount) -  Number(file.payments.reduce((acc, payment) => acc + Number(payment.payment), 0) )}

  table
    thead
      tr
        th Date
        th Payment
    tbody
      each payment in file.payments
        tr
          td #{payment.date}
          td #{payment.payment}
  style.
    table {
      width: 100%;
      border-collapse: collapse;
      background-color: white;
    }

    th, td {
      border: 1px solid #ddd;
      padding: 8px;
    }

    th {
      background-color: #f2f2f2;
      text-align: left;
    }

    form {
      margin-top: 20px;
      display: flex;
      justify content: center;
      gap: 10px;
    }

    div {
      margin-bottom: 10px;
    }

    label {
      display: inline-block;
      width: 100px;
    }

    input[type="text"] {
      width: 100%;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 5px;
    }

    button[type="submit"] {
      padding: 10px 20px;
      border: none;
      border-radius: 5px;
      background-color: #28a745;
      color: white;
    }
    .gobackfile {
     padding: 12px 10px;
      border: none;
      border-radius: 5px;
      
    }
      
    