extends layout 

block content
  form(method="post")
    label(for="payment") Payment:
    input(type="number", name="payment", required id="payment")
    button(type="submit") Make Payment
    a.gobackfile(href="/file/subfiles") Back to Files

  .file-title 
    p.title-text #{file.title}: PAYMENTS
    h1 Balance: <!-- The balance will be updated by JavaScript -->

  table
    thead
      tr
        th Date
        th Payment
    tbody
      each payment in file.payments
        tr
          td #{payment.date}
          td #{payment.payment}
  link(rel="stylesheet", href="/stylesheets/file.css")
  script.
    window.file = !{JSON.stringify(file)};
  script(src="/js/file.js")