extends layout 

block content
  .file-ui 
    .table-container 
      form( method="POST" )
            div(class="form-group ")
            label(for="payment") Make Payment  
            input(type="text", name="payment", class="form-control input-text", id="payment")

            input.input-text1(type="submit", value="Submit")
    
      
      
    .table-header 
      .file-name 
        h3 #{file.title}

      .file-total 
        h3 Balance: #{Number(file.totalAmount) -  Number(file.payments.reduce((acc, payment) => acc + Number(payment.payment), 0) )}
    table.container-table
      thead
        tr
          th
            h1 Date
          th
            h1 Payment
      tbody
        each payment in file.payments
          tr
            td #{payment.date}
            td #{payment.payment}
  
 input(type="text", class="te12 tesx12", name="name", id="name", value="test")

 