extends layout

block content
  
  link(rel="stylesheet", href="/stylesheets/index.css")
  .index-box
    .container-idex
      a.button(href="/file/subfiles")
        .plate
        .plate
        .plate
        .plate
        .plate
        .button__wrapper
          span.button__text FILES
        .button__box
          .inner.inner__top
          .inner.inner__front
          .inner.inner__bottom
          .inner.inner__back
          .inner.inner__left
          .inner.inner__right
    .container-idex
      a.button(href="/travel/items")
        .plate
        .plate
        .plate
        .plate
        .plate
        .button__wrapper
          span.button__text TRAVEL
        .button__box
          .inner.inner__top
          .inner.inner__front
          .inner.inner__bottom
          .inner.inner__back
          .inner.inner__left
          .inner.inner__right
    .container-idex
      a.button(href="/kitchen/all-recipes")
        .plate
        .plate
        .plate
        .plate
        .plate
        .button__wrapper
          span.button__text RECIPES
        .button__box
          .inner.inner__top
          .inner.inner__front
          .inner.inner__bottom
          .inner.inner__back
          .inner.inner__left
          .inner.inner__right