extends layout 





block content
  header 
    .container 
      .nav-bar 
        .logo 
          a(href="/") LOGO
        nav
          ul 
            li: a(href="/kitchen/recipes") Recipes
            li: a(href="/kitchen/create") Create
            li: a(href="/kitchen/recipes") Recipes
            li: a(href="/kitchen/recipes") Rec
  form(method="POST")
    div(class="form-group")
      label(for="name") Name
      input(type="text", name="name", class="form-control", id="name")
    button.btn.btn-primary(type='submit') Submit
   