html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="/stylesheets/style.css")
    link(rel="stylesheet", href="/stylesheets/tablet.css")
    link(rel="stylesheet", href="/stylesheets/mobile.css")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css")
    style.
      .logo-wrapper {
        position: relative;
        display: inline-block;
        margin-top: 1rem;
      }
      .logo-wrapper img {
        width: 100%;
        height: auto;
        max-width: 150px; // Adjust this value as needed
      }
      .logo-text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        font-size: 2rem;
        font-weight: bold;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
      }
      @media (max-width: 768px) {
        .logo-text {
          font-size: 1.5rem;
        }
      }
      @media (max-width: 480px) {
        .logo-text {
          font-size: 1rem;
        }
      }
    
  body 
    header
      .container 
        .nav
          .logo-wrapper.center 
            img(src="/data/uploads/filling-cabinet.png")
            .logo-text CABINET
          ul.lists
            li
              a(href="/") Home
          
   
          
        block content