extends layout

block content 
  h1 Add a New Recipe
  form(method='post' enctype='multipart/form-data')
    div.form-group
      label(for='title') Recipe Title:
      input(type='text' name='title' id='title' required)
    div.form-group
      label(for='image') Recipe Image:
      input(type='file' name='image' id='image' required)
    div.form-group
      label Instructions:
      div#instruction
        div.instruction
          input(type='text' name='instructions[]' placeholder='Instruction' required)
    div.form-group
      button(type='button' id='add-instruction') Add Instruction

    div.form-group
      label(for='servings') Recipe Serving:
      input(type='number' name='servings' id='servings' required)
    div.form-group
      label Ingredients:
      div#ingredients
        div.ingredient
          input(type='text' name='ingredients[]' placeholder='Ingredient' required)
          input(type='text' name='units[]' placeholder='Unit' required)
    div.form-group
      button(type='button' id='add-ingredient') Add Ingredient

    div.form-group
      button(type='submit') Submit

    div.form-group.goback-btn
      a(href='/kitchen/all-recipes') Go Back
  script(src='/js/recipeform.js')

  link(rel='stylesheet' href='https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap')
  style.
    body {
      overflow-x: hidden;
      background-color: #ffe6f2;
    }
    form {
      max-width: 600px;
      margin: 0 auto;
      padding: 20px;
      border: 1px solid #ff99cc;
      border-radius: 10px;
      background-color: #fff0f5;
    }

    .form-group {
      margin-bottom: 15px;
    }

    label {
      display: block;
      margin-bottom: 5px;
      font-weight: bold;
      color: #ff66b2;
    }

    input[type="text"],
    input[type="number"],
    input[type="file"] {
      width: 100%;
      padding: 10px;
      border: 1px solid #ff99cc;
      border-radius: 5px;
      background-color: #ffe6f2;
    }

    button[type="button"],
    button[type="submit"] {
      display: inline-block;
      padding: 10px 20px;
      margin-top: 10px;
      margin-left: 10px;
      border: none;
      border-radius: 5px;
      background-color: #ff66b2;
      color: white;
      cursor: pointer;
    }

    button[type="button"]:hover,
    button[type="submit"]:hover {
      background-color: #ff3399;
    }

    .instruction,
    .ingredient {
      display: flex;
      gap: 10px;
      margin-bottom: 10px;
    }

    .instruction input,
    .ingredient input {
      flex: 1;
    }
    .goback-btn a {
      display: inline-block;
      padding: 10px 20px;
      margin-top: 10px;
      margin-left: 10px;
      border: none;
      border-radius: 5px;
      background-color: #ff66b2;
      color: white;
      cursor: pointer;
      text-decoration: none;
    }
    h1 {
      text-align: center;
      font-family: 'Poppins', sans-serif;
      font-weight: 700;
      color: #ff66b2;
    }