extends layout 

block content
  .container
    .row
      each recipe in recipes
        .col-md-4
          .card(style="width: 18rem;")
            img.card-img-top(src=`uploads/${recipe.image}`, alt="...")
            .card-body
              h5.card-title #{recipe.title}
              h6.card-subtitle.mb-2.text-muted Card subtitle
              p.card-text #{recipe.instructions}.
              a.btn(href=recipe.url)  View Recipe
                i.fab.fa-github 
                |  











        