extends layout

block content
  .recipe-page
    button.recipePage-btn 
      a.recipePage-btn__link(href='/kitchen/recipes') Recipe Finder
    .cardContainer
      each recipe in recipes
       .cardContainer__body
        .cardImage_box 
          img.cardImage(src=`/data/uploads/${recipe.image}` alt="")
        .cardContent_box
          p.cardContent_box__title= recipe.title
        .cardBtn 
          a.cardBtn__link(href=recipe.url) View Recipe