extends layout

block content
  .files-ui
    .subfile-container
      each file in files
        main
          .back-folder-part
          .main-folder-part
          button.folder-btn.btn-texting
              a(href=file.url) Open
                p.paragraph #{file.title}
    .goback 
      a.goback(href="/file/family") Back to Files  
      
        
    

       
   
