


extends layout

block content 
  h1 Add a New Item
  form(method='post' )
    div.form-group
      label(for='title') Item Name
      input(type='text' placeholder="File name" name='title' id='title' required)
    
    div.sub-btn
      button(type='submit' value="Create File") Submit

  style. 
    form {
      max-width: 600px;
      margin: 0 auto;
      padding: 20px;
      border: 1px solid #ff69b4;
      border-radius: 10px;
      background-color: #ffe4e1;
    }
  
    .form-group {
      margin-bottom: 15px;
    }
  
    label {
      display: block;
      margin-bottom: 5px;
      font-weight: bold;
      color: #ff1493;
    }
  
    input[type="text"],
    input[type="number"],
    input[type="file"] {
      width: 100%;
      padding: 10px;
      border: 1px solid #ff69b4;
      border-radius: 5px;
      background-color: #fff0f5;
    }
  
    button[type="button"],
    button[type="submit"] {
      display: inline-block;
      padding: 10px 20px;
      margin-top: 10px;
      margin-left: 10px;
      border: none;
      border-radius: 5px;
      background-color: #ff69b4;
      color: white;
      cursor: pointer;
    }
  
    button[type="button"]:hover,
    button[type="submit"]:hover {
      background-color: #ff1493;
    }
  
    .instruction,
    .ingredient {
      display: flex;
      gap: 10px;
      margin-bottom: 10px;
    }
  
    .instruction input,
    .ingredient input {
      flex: 1;
    }
    
    h1 {
      text-align: center;
      font-family: 'Poppins', sans-serif;
      font-weight: 700;
      color: #ff1493;
    }
