extends layout

block content
  
  div(ontouchstart="" class="container-action")
    .button-action
      a(href="/travel/create") New Item
       
 
  script.
    let currentIndex = 0;
    const items = !{JSON.stringify(item)}

    function askNextItem() {
      if (currentIndex < items.length) {
        var item = items[currentIndex];
        var packed = confirm('Have you packed your ' + item + '?');
        if (packed) {
          currentIndex++;
          askNextItem();
        } else {
          alert('Please pack your ' + item + ' and try again.');
          askNextItem();
        }
      } else {
        alert('You are all set for your trip!');
      }
    }

    askNextItem();
    
 





 
 
   