extends layout

block content
  h1 Create Unit
  form(method="POST")
    div(class="form-group")
      label(for="name") Name
      input(type="text", name="name", class="form-control", id="name")
    button.btn.btn-primary(type='submit') Submit
   