/* @font-face {
  font-family: "Playfair Display";
  src: url("../fonts/PlayfairDisplay-Regular.ttf");
}

:root {
  --dark-pink: #ba4270;
  --water-white: #fbfcfe;
  --blue-color: #36536b;
  --dark-Blue: #1b262f;
  --light-Pink: #da6d97;
  --light-Gray: #6c8294;
  --light-Blue: #e1eff3;
  --light-Blue-2: #004658;
  --background-page: #22ddce;
  --pink: #ee5867;
  --pink-light: #fff0f0;
  --pink-dark: #ec3a50;
  --headlinesFont: 'Josefin Sans', sans-serif;
  --bodyFont: 'Work Sans', sans-serif;
  --wildWatermelon: #ff4f87;
  --fuelYellow: #f0a035;
  --textColor: #323232;
  --bodyBg: #d6d6d6;
  --white: #fff;
  --black: #000;
  --bgc-bullet: #F2994A;
  --font-main: 'Montserrat', sans-serif;
  --font-head: 'IBM Plex Serif', serif;
  --bgc-checkbox: #760c1c;
  --cornsilk: cornsilk;
  --clr-primary: #d50000;
  --clr-primary-hover: #29e6a7;
  --clr-primary-dark: #039d69;
  --clr-gray100: #f0f7f8;
  --clr-gray200: #cfd8dc;
  --clr-gray300: #a7b7be;
  --clr-gray400: #6b7e86;
  --clr-gray500: #425a65;
  --radius: 0.2rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* =====================Utility Classes===================== */
.btn {
  outline: none;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  padding: 0.8rem 1.5rem;
  font-family: inherit;
  font-size: 1rem;
}

.container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding: 0 2rem;
}

.logo {
  height: 200px;
  width: 200px;
}

.lead {
  font-size: 1.5rem;
  color: var(--water-white);
  line-height: 1rem;
}

body {
  font-family: 'Playfair Display', sans-serif;
  background-color: var(--light-Blue-2);
} */


/* 


.button {
  display: flex;
  position: relative;
  width: 280px;
  height: 80px;
  text-decoration: none;
  perspective: 600px;
  background: linear-gradient(rgba(255, 255, 255, .1) 0%, rgba(255, 255, 255, 0) 30%, rgba(255, 255, 255, 0) 70%, rgba(255, 255, 255, .1));
  box-shadow: 0 0 32px rgba(0, 0, 0, 1);
  cursor: pointer;
}

.button::before,
.button::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 100%;
  height: 100%;
}

.button::before {
  top: 0;
  transform-origin: top center;
  transform: rotateX(70deg);
  background: linear-gradient(135deg, rgba(255, 255, 255, .3) 10%, rgba(255, 255, 255, 0) 60%);
}

.button::after {
  bottom: 0;
  transform-origin: bottom center;
  transform: rotateX(-110deg);
  background: radial-gradient(rgba(255, 255, 255, 0) 40%, rgba(255, 255, 255, .1));
}

.button__wrapper {
  position: relative;
  z-index: 2;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(255, 255, 255, .4) 0%, rgba(255, 255, 255, 0) 30%, rgba(255, 255, 255, 0) 70%, rgba(255, 255, 255, .2));
  transform: translate3d(0, 27px, 74px);
  perspective: 600px;
  border-radius: 100%;
}

.button__text {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  font-family: 'Alfa Slab One', cursive;
  font-size: 32px;
  letter-spacing: 4px;
  color: rgba(255, 255, 255, .2);
  transition: all ease-in-out 1s;
}

.button__text::before {
  content: '';
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 230px;
  height: 80px;
  background: linear-gradient(25deg, rgba(255, 255, 255, .1), rgba(255, 255, 255, 0));
  clip-path: path('M230,0H0V80H146.96c0-35.33,33.95-65.83,83.04-80Z');
}

.button__text::after {
  content: '';
  position: absolute;
  z-index: 2;
  top: 4px;
  left: 4px;
  width: 272px;
  height: 40px;
  background: linear-gradient(25deg, rgba(255, 255, 255, .3), rgba(255, 255, 255, 0));
  clip-path: path('M272,9.22V0H0V40H.32C48.19,22.59,151.14,10.26,272,9.22Z');
}

.button__wrapper::before,
.button__wrapper::after {
  content: '';
  position: absolute;
  top: 0;
  width: 84px;
  height: 100%;
  background: linear-gradient(90deg, rgba(255, 255, 255, .2) 0%, rgba(255, 255, 255, 0) 30%, rgba(255, 255, 255, 0) 70%, rgba(255, 255, 255, .2));
  background: radial-gradient(rgba(255, 255, 255, 0) 40%, rgba(255, 255, 255, .1));
}

.button__wrapper::before {
  left: 0;
  transform-origin: left center;
  transform: rotateY(90deg) skewY(-20deg);
}

.button__wrapper::after {
  right: 0;
  transform-origin: right center;
  transform: rotateY(-90deg) skewY(20deg);
}

.button__box {
  position: absolute;
  top: 0;
  left: 8px;
  bottom: 0;
  margin: auto 0;
  width: 264px;
  height: 70px;
  transform: translate3d(0, 4px, 10px);
  perspective: 600px;
}

.inner {
  transition: all ease-in-out 1s;
}

.inner__back {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: var(--bottom);
  perspective: 600px;
}

.inner__top {
  position: absolute;
  z-index: 3;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  transform-origin: top left;
  transform: rotateX(70deg);
  background: var(--top);
}

.inner__front {
  position: absolute;
  z-index: 3;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  transform-origin: top left;
  transform: translate3d(0, 24px, 68px);
  background: var(--top);
}

.inner__bottom {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  transform-origin: bottom left;
  transform: rotateX(-110deg);
  background: var(--bottom);
}

.inner__left {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 68px;
  height: 100%;
  transform-origin: center left;
  transform: rotateY(-90deg) skewY(20deg);
  background: rgba(255, 0, 0, 0);
  transition: all linear .01s;
}

.inner__right {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 68px;
  height: 100%;
  transform-origin: center left;
  transform: rotateY(-90deg) skewY(20deg);
  background: rgba(255, 0, 0, 0);
}


.container-idex {
  width: 100%;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* Don't remove styles */
.index-box {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
} */


.container-idex {
  max-width: 92rem;
  width: 100%;
  margin: 0 auto;
  padding: 0 2rem;
}

header .nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.lists {
  display: flex;
  gap: 1rem;
  text-decoration: none;
}

.image-wrapper {
  height: 6vh;
}

.image-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  margin-top: 0.5rem;
}

ul, a, li, button {
  list-style: none;
  text-decoration: none;
  cursor: pointer;
}

.container-modal {
  background-color: lightblue;
  width: 400px;
  margin: 10em auto;
  padding: 20px;
}

h3 {
  text-align: center;
}

h2 {
  float: right;
  position: absolute;
  top: 219px;
  right: 750px;
  border-radius: 10px;
}

#next {
  width: 100px;
  padding: 10px;
  border-radius: 10px;
  background-color: yellowgreen;
  border-style: none;
} */




.cardContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  align-items: center;
  justify-content: center;
  margin-top: 3rem;
}

.cardContainer__body {
  background-color: var(--bgc-bullet);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.2s;
}

.cardContainer__body:hover {
  transform: translateY(-10px);
}


@media screen and (max-width: 768px) {
  .cardContainer {
    grid-template-columns: 1fr;
    gap: 10px;
  }
}


